name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  test:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.0"
          bundler-cache: true

      - name: Install podman
        run: |
          sudo apt-get update
          sudo apt-get install -y podman

      - name: Install dependencies
        run: bundle install

      - name: Run tests
        run: bundle exec rspec
